*.swp
__pycache__
src/
saved_models
countries

data/*
!data/FB15k-237/
!data/LitWD48K/
!data/YAGO3-10/
!data/Synthetic/
!data/results/
!data/tex/

data/*/*
!data/*/literals/
!data/*/vocab_e1
!data/Synthetic/*

data/FB15k-237/literals/rand_numerical_literals.txt
data/LitWD48K/literals/rand_numerical_literals.txt
data/Synthetic/literals/rand_numerical_literals.txt
data/YAGO3-10/literals/rand_numerical_literals.txt

!data/results/*
!data/tex/*

create_fb15k-237c.py


**/.DS_Store
.ropeproject/
.idea/

