*.swp
__pycache__
results/
src/
saved_models
countries

data/*
!data/FB15k-237/
!data/LitWD48K/
!data/YAGO3-10/
!data/Synthetic/

data/*/*
!data/*/literals/
!data/*/vocab_e1
!data/Synthetic/*

create_fb15k-237c.py


**/.DS_Store
.ropeproject/
